# Database Passwords
POSTGRES_PASSWORD=your_secure_password_here

# Service URLs (Railway las generará automáticamente)
GAME_SERVICE_URL=http://game-service:8081
USER_SERVICE_URL=http://user-service:8082
REVIEW_SERVICE_URL=http://review-service:8083